@mixin on-circle($item-count, $circle-size, $item-size) {  
    position: relative;
    width:  $circle-size;
    height: $circle-size;
    border-radius: 50%;
    padding: 0; 
    list-style: none;
    
    > * {
      display: block;
      position: absolute;
      top:  50%; 
      left: 50%;
      margin: -($item-size / 2);
      width:  $item-size;
      height: $item-size;
    
      $angle: (360 / $item-count);
      $rot: 0;
  
      @for $i from 1 through $item-count {
        &:nth-of-type(#{$i}) {
          transform: rotate($rot * 1deg) translate($circle-size / 1.3) rotate($rot * -1deg);
        }
  
        $rot: $rot + $angle;
      }
    }
  }


.USBDecision {
    position: relative;
    &--leaves {
        
        transition: margin .3s ease;
        @include on-circle($item-count: 6, $circle-size: 20em, $item-size: 10em); 
        // margin: 20rem auto 0;
        background-color:$ltblue;
        &-2 {
            @include on-circle($item-count: 2, $circle-size: 20rem, $item-size: 10rem); 
        }
        &-3 {
            @include on-circle($item-count: 3, $circle-size: 20rem, $item-size: 10rem); 
        }
        &-4 {
            @include on-circle($item-count: 4, $circle-size: 20rem, $item-size: 10rem); 
        }
        &-5 {
            @include on-circle($item-count: 5, $circle-size: 20rem, $item-size: 10rem); 
        }
        &-6 {
            @include on-circle($item-count: 6, $circle-size: 20rem, $item-size: 10rem); 
        }
    }
    &--leave {
        opacity: 1;
        display: block;
        transition: all .5s ease;
        border-radius: 50%;
        background-color: $xltblue;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;

        p {
            pointer-events: none;
            font-size: 14px;
            line-height: 1;
            padding: 0 5px;
            color: $ltblue;
        }
}
    &--question {
        opacity: 1;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 230px;
        left: 60px;
        // transition: all .5s ease;

        .heading-xs {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            padding: 0;
            width: 15rem;
            color: $white;
            z-index: 10;
        }

        &-answered {
            width: 150px;
            height: 150px;
            display: inline-block;
            position: relative;
            top: 0;
            left: 0;
            .heading-xs {
                width: 11rem;
                line-height: 1;
                font-size: 1.4rem;
                top: 20%;
                left: 13px;
                transform: none;
            }
            .USBDecision--leave {
                width: 8rem;
                height: 8rem
            }
            .USBDecision--leaves {
                margin: 0;
                width: 13rem;
                height: 13rem;
            }
            .USBDecision--leave:not(.USBDecision--leave-selected) {
                opacity: 0;
                width: 0;
                height: 0;
                transform:rotate(60deg) translate(15.38462em) rotate(-60deg);
            }
            .USBDecision--leave-selected {
                transform: rotate(89deg) translate(4.38462em) rotate(-88deg) !important;
                background-color: transparent;

                p {
                    color: white;
                }
                
            }
            &:hover {
                .USBDecision--leaves {
                }
            }
            
        }

        &-hidden {
            opacity: 0;
            position: absolute;
            top: 1000px;
            left: 0;

            .USBDecision--leave {
                transform: rotate(89deg) translate(7.38462em) rotate(-88deg) !important;
            }
        }
    }

}