/* Styles for the Pattern Library / Styleguide */ 

/* A11yJumpBanner */
.A11yJumpBanner {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.AllyJumpBanner-LinkList {
    display: inline;
    padding-left: 1rem;
}